
<!-- Footer-->

 <footer class="footer text-faded text-center py-5">
            <div class="container"><p class="m-0 small">Created by Teta Paja as a task from 100 days of code training </p></div>
     <a class="nav-link text-uppercase" href="{{ url_for('apidoc') }}">API DOC</a>
        </footer>
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="{{ url_for('static', filename='js/scripts.js') }}"></script>

  </body>
</html>
